

body{
    margin: 0;
    padding: 0;
    background-image: url("Images.jpg/vue3.JPG");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-size: 300% 350%;
    background-repeat: no-repeat;
}


/*page "accueil"*/

.nav{
    margin-top:-20vh;
    font-weight: bolder;
    color: #1f7a8c;
    display: flex;
    justify-content: left;
}

a{
    text-decoration: none;
}

a:link {
    color: black;
}
a:visited {
    color: gray;
}
a:hover {
    color: red;
}
a:active {
    color: greenyellow;
}


.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -5vh;
}

#header {
    width: 100%;
    background:#080808;
    color: #fbda22;
    padding:8px 0;
    text-align: center;
    font-size: 3vh;
    margin-top: 0px;
    border-bottom: 10px solid #2e1b27;
}

.accueil{
    font-size: 4vh ;
    margin: 150px 10px 10px 20px;
    color: darkred;
}

.animaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 40vh;
}

.Kaeffer{
    border: black solid 2px;
    border-radius: 4em;
    max-width: 100%;
    height: auto;
    opacity: 75%;
    position: relative;
    z-index: 2;
}

.Jevrey{
    border: black solid 2px;
    border-radius: 2em;
    max-width: 100%;
    height: auto;
    opacity: 75%;
    position: relative;
    z-index: 2;
 }


.maison{
    
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    position:absolute;
    z-index: 1;
    
 }

.contactform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    font-size: x-large;
    font-weight: bolder;
}

input{
    background-color: green;
    width: 40%;
    height: 20%;
}

textarea{
    background-color:green;
    width: 40%;
    height: 80%;
}

ul{
    margin-top: 30vh;
    font-size: 2.2vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}



/*page "tourisme"*/

#tourisme h1{
    color: darkred;
    font-weight: bolder;
    font-size: 4vh;
    margin: 100px 25px 100px 25px;
}

#tourisme p{
    margin: 100px 25px 100px 25px;
    font-size: 3.5vh;
    color: white;
    
}

.calonne{
    transition: none;
    margin-top: 20vh;
}


/*page "cartes"*/

#cartes h1{
    color: darkred;
    font-weight: bolder;
    font-size: 4vh;
    margin: 50px 25px 100px 25px;
}

#cartes p{
    margin: 50px 25px 100px 25px;
    font-size: 3vh;
    color: white;
   
}

img{
    width : 200px 
    height: 200px
    transition: transform .1s;
    margin: 20px
}

img:hover{
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5);
}

.carte1{
    margin-top: 50px;
    margin-right: 100px;
}

.carte2{
    margin-top: 50px;
    margin-left: 100px;
}


 
