body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("Images.jpg/vue3.JPG");
    background-size: 300% 350%;
    background-repeat: no-repeat;
}

.nav{
    font-weight: bolder;
    color: #1f7a8c;
    }

a{
    text-decoration: none;
}

a:link {
    color: black;
}
a:visited {
    color: gray;
}
a:hover {
    color: red;
}
a:active {
    color: greenyellow;
}


.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.header{
    font-size: 5vh;
    font-weight: bolder;
    margin-top: 5vh ;
    color: #fbda22;
}

.accueil{
    font-size: 4vh ;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: darkred;
}
.animaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 40vh;
}

.Kaeffer{
    border: black solid 2px;
    border-radius: 4em;
    max-width: 100%;
    height: auto;
    opacity: 75%;
    position: relative;
    z-index: 2;
}

.Jevrey{
    border: black solid 2px;
    border-radius: 2em;
    max-width: 100%;
    height: auto;
    opacity: 75%;
    position: relative;
    z-index: 2;
 }


.maison{
    
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    position:absolute;
    z-index: 1;
    
 }

.contactform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    font-size: x-large;
    font-weight: bolder;
}

input{
    background-color: green;
    width: 60%;
    height: 20%;
}

textarea{
    background-color:green;
    width: 60%;
    height: 80%;
}

ul{
    margin-top: 30vh;
    font-size: 3vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}
